<!DOCTYPE html>
<html>
  <%- include("head.html") %>
  <body id="page-top" class="d-flex flex-column min-vh-100">
    <header class="masthead bg-primary text-white text-center">
      <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Heading-->


        <!-- Masthead Subheading-->
        <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">upload Image & go Album </h1>

        <br>
        <p class="lead text-muted">
          <b>추억 사진관에 오신것을 환영합니다. 얼굴 사진을 업로드 해주세요.</b>
        </p>
        <p class="lead text-muted">
          <b>올려주신 분과의 추억을 찾아드립니다!</b>
        <p>
            <a href="upload" class="btn btn-primary my-2">upload Image </a>
            <a href="album" class="btn btn-primary my-2">go album</a>
        </p>
        </div>

        
      </div>
      <!-- Masthead Heading-->
      <h1 class="masthead-heading text-uppercase mb-0">Your Memory</h1>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>

    <!--   albums     -->
    <img class="img" src="assets/img/12.jpg"  >
    <style>
      .img {
      border-radius: 0%;
      }
    </style>
    <!-- <img src = 'https://i.namu.wiki/i/KVQGoHHujF9F2YCciNhPZLK_nysZh22Ed2T5YnxkH9wWywCclBm0aB9IzRsusK7WlSAqiD9IMYdtc5Z6AY3__w.webp'> -->
    <!-- <img src = 'https://mir-s3-cdn-cf.behance.net/projects/404/309d94132057945.Y3JvcCw1NzU0LDQ1MDEsMTEyNSww.png'> -->
    <!-- <img src = 'https://i.namu.wiki/i/tmODAiW2SmMzS6wA4Xp1noFa98s-lSziBIjV7C8AYP_0fSgHHLQADiYEIvcRPE5QlsY00XuyKISeWwK3qpQ8qA.webp'>  -->


    </header>
    <!-- Navigation-->
    <%- include("nav.ejs") %>
    <!-- Portfolio Section-->
    <!-- About Section-->

  <%- include("footer.html") %>
  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script src="js/scripts.js"></script>
</html>
  